section.bannerwrap.clearfix
	section.banner.clearfix.wow.fadeIn
		#bannerwrap.rev_slider_wrapper.fullscreen-container
			#banner001.rev_slider.fullscreenbanner(data-version="5.1.1RC")
				ul
					//- SLIDE
					li(data-transition="crossfade")
						//- MAIN IMAGE
						img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
						//- LAYER
						//- .tp-caption.tp-shape.tp-shapewrapper.banner-overlay(data-x="center" data-hoffset="0" data-y="middle" data-voffset="0" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="background: linear-gradient(rgba(0,39,39,0) 60%, rgba(0,39,39,0.65));z-index:5")
						//- LAYER
						//- .tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','center','center']", data-hoffset="['30','30','0','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['50','50','60','60']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
							.banner-caption 
								strong SAMSONITE 
								| - 'Cuộc sống là một cuộc hành trình'
					//- SLIDE
					li(data-transition="crossfade")
						//- MAIN IMAGE
						img(src="img/banner/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
						//- LAYER
						//- .tp-caption.tp-shape.tp-shapewrapper.banner-overlay(data-x="center" data-hoffset="0" data-y="middle" data-voffset="0" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="background: linear-gradient(rgba(0,39,39,0) 60%, rgba(0,39,39,0.65));z-index:5")
						//- LAYER
						//- .tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','center','center']", data-hoffset="['30','30','0','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['50','50','60','60']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
							.banner-caption 
								strong SAMSONITE 
								| - 'Cuộc sống là một cuộc hành trình'
					//- SLIDE
					li(data-transition="crossfade")
						//- MAIN IMAGE
						img(src="img/banner/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
						//- LAYER
						//- .tp-caption.tp-shape.tp-shapewrapper.banner-overlay(data-x="center" data-hoffset="0" data-y="middle" data-voffset="0" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="background: linear-gradient(rgba(0,39,39,0) 60%, rgba(0,39,39,0.65));z-index:5")
						//- LAYER
						//- .tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','center','center']", data-hoffset="['30','30','0','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['50','50','60','60']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
							.banner-caption 
								strong SAMSONITE 
								| - 'Cuộc sống là một cuộc hành trình'