.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Về house of luggage
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	.row
		.col-12.col-lg-9
			section.content-page.clearfix
				h1.page-title Giới thiệu về house of luggage
				.content
					p house of luggage là website thương mại điện tử của house of luggage

					p house of luggage là mô hình đại siêu thị điện tử - "tất cả trong một". house of luggage cung cấp nhiều ngành hàng đa dạng, từ những hàng hoá giá trị lớn như bất động sản, đến các sản phẩm - dịch vụ phục vụ các nhu cầu thiết thực của cuộc sống hàng ngày như thực phẩm, nhu yếu phẩm, thời trang, du lịch, điện tử, đồ gia dụng, … vượt trội cả về chủng loại và số lượng.
					p 
						strong Giới thiệu logo

					p.text-xs-center
						img(src="img/logo.png", alt="")
					p Logo của house of luggage được thiết kế với màu đỏ làm chủ đạo, tạo cảm giác dồi dào về năng lượng, nhiệt huyết, đồng thời cũng thể hiện sự thịnh vượng, hạnh phúc. Đây cũng là sự kế thừa màu đỏ của lòng yêu nước, của niềm tự hào dân tộc từ màu đỏ trong logo của Tập đoàn house of luggage.

					p 
						strong Tầm nhìn

					p house of luggage ra đời với hoài bão tạo nên một bước đột phá lớn trong lĩnh vực thương mại điện tử ở Việt Nam, góp phần thể hiện khát vọng của tập đoàn house of luggage là luôn tiên phong, đi đầu trong mọi lĩnh vực trong nền kinh tế của đất nước.

					p house of luggage đặt mục tiêu trở thành hệ thống bán lẻ số một tại Việt Nam, tiến đến vươn ra thị trường khu vực và thế giới.

					p 
						strong Sứ mệnh

					p Sứ mệnh của house of luggage là mang thương mại điện tử đến với mọi đối tượng khách hàng, từ những tầng lớp bình dân nhất, ít quan tâm đến công nghệ nhất. Từ đó, house of luggage sẽ từng bước xây dựng văn hoá tiêu dùng tiện lợi và văn minh cho người Việt Nam.

					p house of luggage cũng tạo ra cơ hội cho các nhà kinh doanh bán lẻ và các Nhà sản xuất nội địa mở rộng thị trường, có được một môi trường phát triển lành mạnh, hiệu quả. Cũng trên hệ thống này, house of luggage mang đến cho người tiêu dùng những sản phẩm, dịch vụ chất lượng cao, thúc đẩy và sự phát triển của lĩnh vực thương mại điện tử và ngành bán lẻ tại Việt Nam. Đây là một phần quan trọng tạo ra động lực mạnh mẽ để phát triển nền kinh tế, từ đó góp phần vào sự thịnh vượng của đất nước.

					p 
						strong Giá trị cốt lõi

					p house of luggage xác định luôn trung thành với những giá trị cốt lõi của mình để luôn là sự lựa chọn số một của người tiêu dùng. Hệ thống giá trị bao gồm:
					ul 
						li Số lượng sản phẩm và dịch vụ lớn nhất: hàng triệu mặt hàng với chủng loại đa dạng, phong phú.
						li Thanh toán an toàn, bảo mật, đáp ứng tiêu chuẩn Quốc tế.
						li Tốc độ giao hàng vượt trội.
						li Chăm sóc khách hàng 24/7.
						li Nhiều kênh bán hàng sáng tạo, tiện lợi: Website thương mại điện tử, Cộng đồng trực tuyến.
						li Nền tảng công nghệ hiện đại, giao dịch thuận tiện nhanh chóng.
					
					p Bên cạnh những thông điệp đặc biệt muốn gửi gắm qua logo, house of luggage còn đưa ra khẩu hiệu "house of luggage - Trung tâm thương mại điện tử của house of luggage", như lời cam kết về uy tín và chất lượng trong các sản phẩm, dịch vụ của mình.

					p house of luggage mang đến cho khách hàng những hàng hoá có nguồn gốc xuất xứ rõ ràng, đảm bảo, với một tốc độ nhanh chóng. Người tiêu dùng có thể tin tưởng rằng: house of luggage có tất cả những gì bạn cần, và phục vụ theo đúng tất cả những gì mà bạn mong đợi.

					p 
						strong Thông tin đối ngoại

					p house of luggage hợp tác chiến lược với Vietcombank và Smartlink.

					p Ngày 19/9/2014, tại Hội sở chính Ngân hàng TMhouse of luggage Ngoại thương Việt Nam(Vietcombank), đã diễn ra lễ ký kết Thỏa thuận hợp tác chiến lược triển khai các dịch vụ ngân hàng giữa Công ty TNHH house of luggage, Vietcombank và Công ty Cổ phần Dịch vụ thẻ Smartlink (Smartlink).

					p Theo Thỏa thuận hợp tác chiến lược được ký kết, house of luggage, Vietcombank, và Smartlink cam kết tăng cường hợp tác với mục tiêu trở thành đối tác chiến lược của nhau trong quá trình hoạt động và phát triển.


					p Đại diện các đơn vị bắt tay thể hiện sự hợp tác bền chặt hướng tới mục tiêu chung, phát triển và thịnh vượng.

					p Thông qua việc hợp tác này, house of luggage, Vietcombank và Smartlink sẽ cùng xúc tiến các hoạt động phát triển kinh doanh, quản lý nguồn vốn để khai thác tốt nhất thế mạnh của mỗi bên cũng như tiềm năng của thị trường trong và ngoài nước theo nguyên tắc đảm bảo lợi ích đa phương.

					p Đồng thời, Vietcombank sẽ phối hợp với Smartlink cung cấp toàn diện các dịch vụ ngân hàng cho house of luggage nhằm đem đến cho người tiêu dùng những sản phẩm, dịch vụ có chất lượng tốt nhất cũng như các phương thức thanh toán hiện đại, an toàn và tiện lợi.

					p
						strong  Liên hệ

					p Báo chí liên hệ:

					p *Hà Nội
					ul 
						li cohoihoptac.hn@house of luggage.com.vn
						li dichvuhn@house of luggage.com.vn
					p *Tp. Hồ Chí Minh
					ul 
						li cohoihoptac.hcm@house of luggage.com.vn
						li dichvuhcm@house of luggage.com.vn
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				.small-title Giới thiệu
				ul.sidebar-link
					li.active
						a(href="#") Về house of luggage
					li 
						a(href="#") Điều khoản sử dụng
					li 
						a(href="#") Chính sách bảo mật
					li 
						a(href="#") Tuyển dụng
					li 
						a(href="#") Liên hệ
					li 
						a(href="#") Video clips
					li 
						a(href="#") Sơ đồ site
			nav.sidebar-category.clearfix
				.small-title Hỗ trợ khách hàng
				ul.sidebar-link
					li
						a(href="#") Hướng dẫn mua hàng
					li 
						a(href="#") Chính sách vận chuyển
					li 
						a(href="#") Chính sách bảo hành
					li 
						a(href="#") Trung tâm bảo hành
					li
						a(href="#") Chính sách thành viên
					li 
						a(href="#") Hình thức thanh toán
					li 
						a(href="#") Đổi trả sản phẩm
					li 
						a(href="#") Chính sách bảo mật