.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/2.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Hỗ trợ khách hàng
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Chính sách thành viên
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	.row
		.col-12.col-lg-9
			section.page-content.clearfix
				h1.page-title Chính sách thành viên
				.content
					h4.post-title Điều kiện đăng ký
					.row
						.col-12.col-md-6
							.box.clearfix
								figure
									.icon
										img(src="img/ic1.png", alt="")
									figcaption
										h5.text-center Khách hàng thân thiết 
											br
											|(Standard account – website)
										ul
											li Khi phát sinh đơn hàng bất kì tại hệ thống cửa hàng House Of Luggage / Samsonite / American Tourister hoặc website www.houseofluggage.com hoặc cả hai.
											li Cung cấp đầy đủ thông tin theo yêu cầu.
						.col-12.col-md-6
							.box.clearfix
								figure
									.icon
										img(src="img/ic1.png", alt="")
									figcaption
										h5.text-center Khách hàng thân thiết 
											br
											|(Standard account – website)
										ul
											li Khi phát sinh đơn hàng bất kì tại hệ thống cửa hàng House Of Luggage / Samsonite / American Tourister hoặc website www.houseofluggage.com hoặc cả hai.
											li Cung cấp đầy đủ thông tin theo yêu cầu.
										
					h4.post-title Quyền lời khách hàng thân thiết
					.row
						.col-12.col-md-6
							.box2.clearfix
								figure
									.icon
										img(src="img/ic1.png", alt="")
									figcaption
										h5.text-center Khách hàng thân thiết 
											br
											|(Standard account – website)
										ul
											li Khi phát sinh đơn hàng bất kì tại hệ thống cửa hàng House Of Luggage / Samsonite / American Tourister hoặc website www.houseofluggage.com hoặc cả hai.
											li Cung cấp đầy đủ thông tin theo yêu cầu.
						.col-12.col-md-6
							.box2.clearfix
								figure
									.icon
										img(src="img/ic1.png", alt="")
									figcaption
										h5.text-center Khách hàng thân thiết 
											br
											|(Standard account – website)
										ul
											li Khi phát sinh đơn hàng bất kì tại hệ thống cửa hàng House Of Luggage / Samsonite / American Tourister hoặc website www.houseofluggage.com hoặc cả hai.
											li Cung cấp đầy đủ thông tin theo yêu cầu.
					h4.post-title Các quy định khác
					ul
						li Xuất trình CMND khi thanh toán tại cửa hàng đối với chương trình ưu đãi ngày sinh nhật.
						li Xuất trình thẻ V.I.P khi thanh toán tại cửa hàng đối với chương trình ưu đãi giảm giá trên tổng hoá đơn.
						li Khách hàng vui lòng liên hệ hotline 1800 xxxx để được hỗ trợ làm thủ tục cấp lại thẻ miễn phí trong trường hợp mất thẻ. Trường hợp khách hàng không báo mất và thẻ bị mất được sử dụng bởi cá nhân khác, House of Luggage sẽ không chịu bất cứ trách nhiệm nào liên quan đến việc mất mát này.
						li Khách hàng có thay đổi thông tin cá nhân (đặc biệt thông tin liên lạc) vui lòng cập nhật thông tin tài khoản thành viên tại website www.houseofluggage.com hoặc liên hệ hotline 1800 xxxx để được hỗ trợ cập nhật lại thông tin mới.
						li House of Luggage có quyền từ chối giải quyết các quyền lợi của khách hàng trong trường hợp thông tin do khách hàng cung cấp không đúng hoặc không đầy đủ.
						li House of Luggage có quyền thay đổi hoặc chỉnh sửa các điều khoản liên quan đến quyền lợi thành viên mà không cần báo trước. Mọi thay đổi sẽ được thông báo chính thức trên website www.houseofluggage.com
					.quote
						p
							strong Mọi ý kiến đóng góp và thắc mắc xin liên hệ với Samsonite Việt Nam
						p
							a(href="tel:1800 6063") <i class="fa fa-phone-square" aria-hidden="true"></i> 1800 6063
							br
							a(href="mailto:info@houseofluggage.com") <i class="fa fa-envelope" aria-hidden="true"></i> info@houseofluggage.com
		.col-12.col-lg-3
			//- nav.sidebar-category.clearfix
				.small-title Giới thiệu
				ul.sidebar-link
					li
						a(href="#") Về Samsonite
					li 
						a(href="#") Điều khoản sử dụng
					li 
						a(href="#") Chính sách bảo mật
					li 
						a(href="#") Tuyển dụng
					li 
						a(href="#") Liên hệ
					li 
						a(href="#") Video clips
					li 
						a(href="#") Sơ đồ site
			nav.sidebar-category.clearfix
				.small-title Hỗ trợ khách hàng
				ul.sidebar-link
					li
						a(href="#") Hướng dẫn mua hàng
					li 
						a(href="#") Chính sách vận chuyển
					li 
						a(href="#") Chính sách bảo hành
					li 
						a(href="#") Trung tâm bảo hành
					li.active
						a(href="#") Chính sách thành viên
					li 
						a(href="#") Hình thức thanh toán
					li 
						a(href="#") Đổi trả sản phẩm
					li 
						a(href="#") Chính sách bảo mật