section.home-brand.clearfix
	.container
		h1.home-title.text-center.wow.fadeInUp Hội tụ những thương hiệu hàng đầu thế giới
		.home-des.text-center.wow.fadeInUp HOL mang đến cho bạn những sản phẩm nhập khẩu chính hãng với các chính sách ưu đãi tốt nhất. Để mỗi hành trình của bạn là một điều kỳ thú mới.
		.home-brand-slide
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/1.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/2.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/3.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/4.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/5.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/6.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/7.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/8.png", alt="")
			.item.wow.zoomIn
				a.brand(href="#")
					img(src="img/brand/9.png", alt="")

section.hotsale-product.clearfix
	.container
		.home-flashsale.clearfix
			.title-wrap.clearfix
				.home-title Flash Sale
				time Chỉ còn: 
					strong 10:00:00
			.hotsale-slide
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.new NEW
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Kamiliant
								h3.product-name
									a(href="#") Onda Size 79
								//- //- .product-kind Spinner 79
								.product-price.clearfix
									.old 4.900.000đ
									.new 2.450.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/2.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") Samsonite
								//- .product-kind Spinner 59/69/81
								.product-price.clearfix
									.old 18.000.000đ
									.new 15.800.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/3.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Lady Plume
								//- .product-kind Spinner 20
								.product-price.clearfix
									.old 5.200.000đ
									.new 2.600.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/4.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Hesrone
								//- .product-kind Spinner 40
								.product-price.clearfix
									.old 6.900.000đ
									.new 7.400.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/5.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Kamiliant
								h3.product-name
									a(href="#") pixelon
								//- .product-kind Spinner 69
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/6.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Kamiliant
								h3.product-name
									a(href="#") pixelon
								//- .product-kind Spinner 69
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/3.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Kamiliant
								h3.product-name
									a(href="#") pixelon
								//- .product-kind Spinner 69
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
		.home-title.wow.fadeInUp.text-center SẢN PHẨM BÁN CHẠY
		.hotsale-slide
			.item
				.product-col.wow.zoomIn
					figure 
						.promotion.new NEW
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/1.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Kamiliant
							h3.product-name
								a(href="#") Onda Size 79
							//- //- .product-kind Spinner 79
							.product-price.clearfix
								.old 4.900.000đ
								.new 2.450.000đ
			.item
				.product-col.wow.zoomIn
					figure 
						.promotion.sale -30%
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/2.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Samsonite
							h3.product-name
								a(href="#") Samsonite
							//- .product-kind Spinner 59/69/81
							.product-price.clearfix
								.old 18.000.000đ
								.new 15.800.000đ
			.item
				.product-col.wow.zoomIn
					figure 
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/3.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Lipault
							h3.product-name
								a(href="#") Lady Plume
							//- .product-kind Spinner 20
							.product-price.clearfix
								.old 5.200.000đ
								.new 2.600.000đ
			.item
				.product-col.wow.zoomIn
					figure 
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/4.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Samsonite Red
							h3.product-name
								a(href="#") Hesrone
							//- .product-kind Spinner 40
							.product-price.clearfix
								.old 6.900.000đ
								.new 7.400.000đ
			.item
				.product-col.wow.zoomIn
					figure 
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/5.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Kamiliant
							h3.product-name
								a(href="#") pixelon
							//- .product-kind Spinner 69
							.product-price.clearfix
								.old 6.900.000đ
								.new 4.830.000đ
			.item
				.product-col.wow.zoomIn
					figure 
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/6.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Kamiliant
							h3.product-name
								a(href="#") pixelon
							//- .product-kind Spinner 69
							.product-price.clearfix
								.old 6.900.000đ
								.new 4.830.000đ
			.item
				.product-col.wow.zoomIn
					figure 
						//-.product-popup
							a.btn-viewdetail(href="#!") Chi tiết
							a.btn-buy(href="#!") Mua hàng
						a.product-img(href="#")
							img(src="img/product/3.png", alt="")
						figcaption
							.product-color
								.color(style='background: #5f5c5d')
								.color(style='background: #737fd3')
								.color(style='background: #6d5f97')
							.product-brand 
								a(href="#") Kamiliant
							h3.product-name
								a(href="#") pixelon
							//- .product-kind Spinner 69
							.product-price.clearfix
								.old 6.900.000đ
								.new 4.830.000đ
section.home-product-wrap.clearfix
	.container
		.home-category.clearfix.wow.fadeInUp
			.category-title VALI
			.category-banner
				.img
					img(src="img/cate/1.png", alt="")
			.home-product-slide.product-list
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.new NEW
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/7.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Bon Air
								//- .product-kind Spinner 55/ 66
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/8.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Black Label
								h3.product-name
									a(href="#") Cubelite
								//- .product-kind Spinner 59/69/81
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/9.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Curio
								//- .product-kind Spinner 55/80
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/10.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") Pro-DLX 4
								//- .product-kind Laptop Backpack L 16" Asia
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/9.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Originale Plume
								//- .product-kind Spinner 55
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
		.home-category.clearfix.wow.fadeInUp
			.category-title BALO
			.category-banner
				.img
					img(src="img/cate/2.png", alt="")
			.home-product-slide.product-list
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/11.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") 72h
								//- .product-kind Spinner 55/68/78
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/12.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Eilyn
								//- .product-kind Backpack
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/13.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Lady Plume
								//- .product-kind Bowling Bag S
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/14.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Claken
								//- .product-kind Backpack M
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/13.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Hatton
								//- .product-kind Laptop Portfolio
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
		.home-category.clearfix.wow.fadeInUp
			.category-title TÚI XÁCH
			.category-banner
				.img
					img(src="img/cate/3.png", alt="")
			.home-product-slide.product-list
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/15.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") 72h
								//- .product-kind Spinner 55/68/78
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/16.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Eilyn
								//- .product-kind Backpack
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/17.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Lady Plume
								//- .product-kind Bowling Bag S
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/18.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Claken
								//- .product-kind Backpack M
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/17.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Hatton
								//- .product-kind Laptop Portfolio
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
		.home-category.clearfix.wow.fadeInUp
			.category-title PHỤ KIỆN
			.category-banner
				.img
					img(src="img/cate/4.png", alt="")
			.home-product-slide.product-list
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/19.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") 72h
								//- .product-kind Spinner 55/68/78
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/20.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Eilyn
								//- .product-kind Backpack
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/21.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Lady Plume
								//- .product-kind Bowling Bag S
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/22.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Claken
								//- .product-kind Backpack M
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							//-.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/22.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Hatton
								//- .product-kind Laptop Portfolio
								.product-price.clearfix
									.old 6.900.000đ
									.new 4.830.000đ
								a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
.container
	.row.flex.flex-wrap
		.col-12.col-lg-6
			section.home-system.clearfix.wow.fadeInLeft
				h2.home-title.text-left Hệ thống cửa hàng
				.system-filter.clearfix
					label Chọn khu vực
					select(name="")
						option(value="") Chọn tỉnh/thành phố
				#map.home-system-map.clearfix
					img(src="img/map.jpg", alt="")
					//- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4240830274184!2d106.70087716538356!3d10.778795642319912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f47d6e2bbb5%3A0x3ac4570b9f850ad9!2sVincom+Center!5e0!3m2!1sen!2s!4v1502175557681" width="100%" height="530" frameborder="0" style="border:0" allowfullscreen></iframe>
		.col-12.col-lg-6
			section.home-news.clearfix.wow.fadeInRight
				h2.home-title.text-left Tin tức
				.news-list.clearfix
					.row
						.col-12
							.news-col.big
								figure 
									a.news-img(href="#")
										img(src="img/news/h1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Những lưu ý quan trọng khi chọn vali du lịch
										time 12/07/2017
										.news-des Vali rất quan trọng đối với những người thường xuyên di chuyển khi chúng luôn kè kè bên cạnh để lưu trữ những đồ vật quan trọng nhất.
						.col-12.col-md-4
							.news-col
								figure 
									a.news-img(href="#")
										img(src="img/news/h2.jpg", alt="")
									figcaption
										//- time <i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2017
										h3.news-name
											a(href="#") Bật mí kinh nghiệm mua vali du lịch bền và đẹp
						.col-12.col-md-4
							.news-col
								figure 
									a.news-img(href="#")
										img(src="img/news/h3.jpg", alt="")
									figcaption
										//- time <i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2017
										h3.news-name
											a(href="#") Hướng dẫn chọn vali xách tay lên máy bay
						.col-12.col-md-4
							.news-col
								figure 
									a.news-img(href="#")
										img(src="img/news/h4.jpg", alt="")
									figcaption
										//- time <i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2017
										h3.news-name
											a(href="#") 10 lời khuyên về cách mang hành lý của một tiếp viên hàng không
section.home-photo.clearfix
	.container
		h2.home-title #HOUSEOFLUGGAGE TRÊN MỌI CHẶNG ĐƯỜNG
		.photo-slide
			.item
				a.photo(href="#photo1" data-fancybox="gal1")
					img(src="img/photo/5.jpg", alt="")
				#photo1.popup-product
					.row
						.col-12.col-md-6
							.popup-img
								img(src="img/photo/5.jpg", alt="")
						.col-12.col-md-6
							.insta-user
								figure
									a.img(href="#")
										img(src="img/user/1.jpg", alt="")
									figcaption
										.name
											a(href="#") pelez0
							.share
								.label Share
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
							.product-list
								.row
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.new NEW
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") American Tourister
													h3.product-name
														a(href="#") Bon Air
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.sale -30%
												a.product-img(href="#")
													img(src="img/product/2.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") Samsonite Black Label
													h3.product-name
														a(href="#") Cubelite
			.item
				a.photo(href="#photo2" data-fancybox="gal1")
					img(src="img/photo/2.jpg", alt="")
				#photo2.popup-product
					.row
						.col-12.col-md-6
							.popup-img
								img(src="img/photo/2.jpg", alt="")
						.col-12.col-md-6
							.insta-user
								figure
									a.img(href="#")
										img(src="img/user/1.jpg", alt="")
									figcaption
										.name
											a(href="#") pelez0
							.share
								.label Share
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
							.product-list
								.row
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.new NEW
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") American Tourister
													h3.product-name
														a(href="#") Bon Air
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.sale -30%
												a.product-img(href="#")
													img(src="img/product/2.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") Samsonite Black Label
													h3.product-name
														a(href="#") Cubelite

			.item
				a.photo(href="#photo3" data-fancybox="gal1")
					img(src="img/photo/3.jpg", alt="")
				#photo3.popup-product
					.row
						.col-12.col-md-6
							.popup-img
								img(src="img/photo/3.jpg", alt="")
						.col-12.col-md-6
							.insta-user
								figure
									a.img(href="#")
										img(src="img/user/1.jpg", alt="")
									figcaption
										.name
											a(href="#") pelez0
							.share
								.label Share
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
							.product-list
								.row
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.new NEW
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") American Tourister
													h3.product-name
														a(href="#") Bon Air
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.sale -30%
												a.product-img(href="#")
													img(src="img/product/2.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") Samsonite Black Label
													h3.product-name
														a(href="#") Cubelite

			.item
				a.photo(href="#photo4" data-fancybox="gal1")
					img(src="img/photo/4.jpg", alt="")
				#photo4.popup-product
					.row
						.col-12.col-md-6
							.popup-img
								img(src="img/photo/4.jpg", alt="")
						.col-12.col-md-6
							.insta-user
								figure
									a.img(href="#")
										img(src="img/user/1.jpg", alt="")
									figcaption
										.name
											a(href="#") pelez0
							.share
								.label Share
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
							.product-list
								.row
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.new NEW
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") American Tourister
													h3.product-name
														a(href="#") Bon Air
									article.col-6.col-md-6
										.product-col
											figure 
												.promotion.sale -30%
												a.product-img(href="#")
													img(src="img/product/2.png", alt="")
												figcaption
													.product-color
														.color(style='background: #5f5c5d')
														.color(style='background: #737fd3')
														.color(style='background: #6d5f97')
													.product-brand 
														a(href="#") Samsonite Black Label
													h3.product-name
														a(href="#") Cubelite

			.item
				a.photo(href="img/photo/1.jpg" data-fancybox="gal")
					img(src="img/photo/1.jpg", alt="")
			.item
				a.photo(href="img/photo/2.jpg" data-fancybox="gal")
					img(src="img/photo/2.jpg", alt="")
		.btn-wrap
			a.btn-photo(href="#") Thư viện ảnh
			a.btn-photo(href="#") Upload photo