.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Ourtips
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	section.ourtips-page.clearfix
		h1.page-title.text-center OURTIPS
		.hot-ourtips
			.row
				.col-12.col-lg-6
					a.ourtips-col.big(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h2.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								.link Xem chi tiết
				.col-12.col-lg-6
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								.link Xem chi tiết
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								.link Xem chi tiết
		.ourtips-list.clearfix
			.row
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4