.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Ourtips
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	section.ourtips-page.clearfix
		h1.page-title 4 bước đơn giản giúp sắp xếp hành lý gọn gàng khi đi du học
		.ourtips-info 
			time 12/07/2017
		.content
			.row
				.col-12.col-md-8.col-lg-9
					p Việc sắp xếp hành lý, vali khi du học đôi khi cũng khiến cho các bạn du học sinh cảm thấy rất áp lực, căng thẳng. Ngoài việc phải tính toán sao cho đủ các đồ dùng cần thiết cho cuộc sống xa nhà, bạn còn phải cân đo sao cho hành trang của mình không vượt quá số ký cho phép của các hãng hàng không nữa.
						br
						|Hiểu rõ nỗi lo lắng của các bạn du học sinh, K hôm nay xin gửi đến bạn những mẹo hay trong việc sắp xếp hành lý gọn nhẹ, đơn giản nhưng lại ít ai biết thông qua 4 bước đơn giản sau đây: 
					h5.orange BƯỚC 1: TÌM HIỂU THÔNG TIN 
					p 
						strong Tìm hiểu về thời tiết của quốc gia/địa phương sắp đến 
					p Bạn nên tìm hiểu về khí hậu, thời tiết của quốc gia và vùng địa phương mà mình sắp đến để có thể lựa chọn quần áo, đồ dùng phù hợp, tránh được việc mang dư thừa rồi lại không sử dụng được.  
						br
						|Ví dụ như bạn đi Tokyo vào học kỳ mùa thu (tháng 10), khi đó trời bắt đầu se lạnh dần cho đến mùa đông, thì lựa chọn quần áo dài tay, chất liệu ấm áp sẽ phù hợp hơn so với việc mang quần áo mỏng, mát mẻ mùa hè. 
						br
						|Để biết được thời tiết, khí hậu một vùng thế nào, bạn có thể tham khảo trang web 
				.col-12.col-md-4.col-lg-3
					figure
						img(src="img/news/ot2.jpg", alt="")
			p 
				strong Tìm hiểu quy định hành lý của quốc gia/hãng hàng không 
			p Việc có vẻ rất nhàm chán này thật ra lại vô cùng có lợi cho bạn, bởi vì khi nắm chắc được quy định về những thứ được phép/ không được phép mang theo khi đi máy bay, bạn sẽ giới hạn lại 1 cách dễ dàng danh sách những thứ cần mang theo, cũng như tránh được rắc rối như bị phạt/phải bỏ lại đồ đạc khi check in hay làm thủ tục hải quan. 
			p 
				strong Tìm hiểu cơ sở vật chất của ký túc xá/chỗ trọ mà bạn dự định ở lại 
			p Nếu bạn tìm được chỗ ở tại nước du học trước khi lên đường, hãy tìm hiểu, hỏi thăm về cơ sở vật chất của nơi đó cũng như khu dân cư xung quanh. Việc này sẽ giúp bạn biết được mình sẽ cần hoặc không cần mang theo món gì. 
			h5.orange BƯỚC 2: LÊN DANH SÁCH ĐỒ DÙNG CẦN MANG THEO 
			.row
				.col-12.col-md-4
					img(src="img/news/otc1.jpg", alt="")
					p
						strong Quần áo
					ul
						li Vớ (số lượng đủ dùng cho 2 tuần) + 1 đôi vớ dày
						li Áo tay dài, Áo tay ngắn, Áo khoác nhẹ/ hoodie
						li Quần áo lót (số lượng đủ dùng cho 2 tuần),
						li Quần tây/ Quần jean (2-3 cái), Quần lửng/Váy
						li Quần áo mùa đông
						li Áo tắm,Áo ngủ, , Áo dạ hội
						li Dép kẹp, Giày bata/ giày cao gót

				.col-12.col-md-4
					img(src="img/news/otc1.jpg", alt="")
					p
						strong Quần áo
					ul
						li Vớ (số lượng đủ dùng cho 2 tuần) + 1 đôi vớ dày
						li Áo tay dài, Áo tay ngắn, Áo khoác nhẹ/ hoodie
						li Quần áo lót (số lượng đủ dùng cho 2 tuần),
						li Quần tây/ Quần jean (2-3 cái), Quần lửng/Váy
						li Quần áo mùa đông
						li Áo tắm,Áo ngủ, , Áo dạ hội
						li Dép kẹp, Giày bata/ giày cao gót
				.col-12.col-md-4
					img(src="img/news/otc1.jpg", alt="")
					p
						strong Quần áo
					ul
						li Vớ (số lượng đủ dùng cho 2 tuần) + 1 đôi vớ dày
						li Áo tay dài, Áo tay ngắn, Áo khoác nhẹ/ hoodie
						li Quần áo lót (số lượng đủ dùng cho 2 tuần),
						li Quần tây/ Quần jean (2-3 cái), Quần lửng/Váy
						li Quần áo mùa đông
						li Áo tắm,Áo ngủ, , Áo dạ hội
						li Dép kẹp, Giày bata/ giày cao gót
			h5.orange BƯỚC 3: CHỌN LỰA VALI, TÚI XÁCH 
			.row
				.col-12.col-md-4.col-lg-3
					p Hành lý xách tay: không quá 7kg 
						br
						|Hành lý ký gửi: từ 20kg ~ 40kg tùy vào quy định hãng hàng không 
					img(src="img/news/ot3.jpg", alt="")
				.col-12.col-md-8.col-lg-9
					p 
						strong VỚI HÀNH LÝ XÁCH TAY
					p  Với hành lý xách tay, bạn nên chọn loại vali nhỏ hoặc túi xách, balo gọn nhẹ. Kích thước vali, túi xách nên là loại vừa (carry-on size), có thể để ở các kệ hành lý trên máy bay hoặc ở chỗ ngồi. Ngoài ra bạn nên chọn loại có khóa để bảo vệ tư trang của bạn tốt hơn. 
					p 
						strong VỚI HÀNH LÝ KÝ GỬI
					p Với hành lý ký gửi: các yếu tố bạn nên cân nhắc khi chọn vali cho hành lý ký gửi là kích thước, trọng lượng, chất liệu, kết cấu, độ an toàn. 
					ul
						li Kích thước: Nên chọn vali có kích thước vừa đủ. Nếu chọn vali kích thước quá lớn, cồng kềnh, đồ đạc của bạn sẽ bị va chạm, xóc tung lên trong quá trình đi máy bay, cũng như khiến việc di chuyển từ sân bay về ký túc xá, nhà trọ hay khi đổi chỗ ở của bạn trở nên mệt mỏi, khó khăn hơn rất nhiều. 
						li Trọng lượng: Nên chọn vali có trọng lượng nhẹ, từ 3kg trở xuống. Như thế bạn sẽ tiết kiệm được số cân dùng cho đồ đạc của mình. 
						li Chất liệu: Nên ưu tiên chọn vali vỏ cứng, làm từ nhựa, có độ bền và dẻo dai cao, điều này sẽ giúp hành lý của bạn giảm bị va đập. Nếu bạn thích vali vải mềm hơn thì hãy bọc những đồ dễ vỡ vào giữa quần áo. 
						li Kết cấu: Nên chọn vali có 4 bánh xe trượt để việc di chuyển của bạn nhẹ nhàng, thuận tiện hơn. Ngoài ra bạn nên để ý cả kết cấu của tay kéo vali. Loại tay kéo bằng thép không gỉ, bền bỉ sẽ giúp chịu lực tốt cũng như tiết kiệm sức lực cho bạn khi di chuyển. 
						li Độ an toàn: Để tránh việc bị mất mát đồ đạc hay kẻ gian lợi dụng nhét thêm đồ trái phép vào hành lý, bạn nên chọn loại vali có khóa số an toàn kèm theo. Loại thường thấy nhất là khóa số bằng mật khẩu. 
			h5.orange BƯỚC 4: SẮP XẾP HÀNH LÝ VÀO VALI, TÚI XÁCH 
			p 
				strong TUÂN THỦ NGUYÊN TẮC
			ul
				li Cho đồ đạc vào theo thứ tự ưu tiên 
				li Tận dụng các kẽ trống để nhét những đồ nhỏ  
				li Đồ nặng để dưới, đồ nhẹ để trên, đồ dễ vỡ để chính giữa vali 
			p 
				strong Với hành lý xách tay: 
			p Bạn nên bỏ vào các giấy tờ quan trọng và các đồ vật quý giá như tiền bạc, máy tính, điện thoại, thiết bị điện tử v.v… cùng 1 chút đồ ăn và áo khoác nhẹ. 
			p 
				strong Với hành lý ký gửi: 
			p Cho dù số ký tối đa cho phép là 40kg đi nữa thì bạn cũng đừng nhét tất cả vào 1 kiện duy nhất thật to thật nặng, khi ra sân bay người ta sẽ buộc bạn phải tháo bớt ra rất tốn thời gian sức lực. Hành lý ký gửi bạn nên chia nhỏ thành nhiều kiện hàng, mỗi kiện không quá 30kg. 
			.row
				.col-12.col-md-8.col-lg-9
					p
						strong MỘT SỐ MẸO SẮP XẾP VALI QUẦN ÁO HỮU ÍCH
					ul
						li Bỏ hết nhãn mác gắn trên quần áo mới mua của bạn. Điều này giúp hành lý của bạn nhẹ đi ít nhất 200 Grams 
						li Đừng sử dụng thùng carton đựng đồ. Nếu như bạn có đồ đạc dễ vỡ, hãy bọc chúng bằng quần áo của bạn
						li Dùng vớ hoặc giày của bạn để bọc, nhét các đồ linh tinh vào
						li Bọc giày của bạn bằng bao nilon để khi không cần xài, bạn có thể cất giày vào mà không làm dơ các đồ vật khác
						li Quần áo dùng cho dạ tiệc, hội họp quan trọng nên đặt phía trên cùng để đỡ bị nhăn
						li Kết hợp việc gấp và cuộn quần áo để tiết kiệm không gian và tránh bị nhăn.
						li Quần áo nên cuộn: đồ lót, áo thun, quần jeans, quần áo vải mỏng hoặc đồ len
						li Quần áo nên gấp: sơ mi cotton, váy, áo vét, đầm dạ hội, quần tây
						li Quần áo cuộn để dưới, quần áo gấp để trên, sau đó phủ trên cùng bằng 1 lớp nilon tạo độ trơn, quần áo có bị xóc cũng không bị nhăn.
						li Hoặc nếu có thể, bạn nên mua các loại túi gấp quần áo (garment folder) rất tiện dụng cho việc sắp xếp hành lý.
				.col-12.col-md-4.col-lg-3
					img(src="img/news/ot4.jpg", alt="")
			.share
				img(src="img/share.jpg", alt="")
	section.other-tips.clearfix
		.small-title TIN LIÊN QUAN
		.ourtips-list.clearfix
			.row
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
				.col-12.col-md-6.col-lg-4
					a.ourtips-col(href="#")
						figure
							.ourtips-img
								img(src="img/news/ot1.jpg", alt="")
							figcaption
								h3.ourtips-name Những lưu ý quan trọng khi chọn vali du lịch
								time 31/08/2017
								.ourtips-des Có thể nói việc hư khóa kéo balo du lịch, túi xách thời trang… luôn là vấn đề mà người mua balo hay túi xách đều quan tâm. Dù balo của bạn thuộc loại hàng hiệu...
