.container
	.row.flex.flex-wrap.clearfix
		.col-12
			include bannerads
		include filter
		.col-main.clearfix
			section.product-page.clearfix
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.category-info.clearfix.wow.fadeInUp
					.product-sort.clearfix
						select
							option(value="#") Sắp xếp theo
							option(value="#") Bán chạy nhất
							option(value="#") Hàng mới về
							option(value="#") Giá cao nhất
							option(value="#") Giá thấp nhất
					h1.cate-name Vali 1
					.amount Tìm thấy 60 sản phẩm
				.product-list.clearfix
					.row
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.new NEW
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Bon Air
										//- .product-kind Spinner 55/ 66
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Black Label
										h3.product-name
											a(href="#") Cubelite
										//- .product-kind Spinner 59/69/81
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/3.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Curio
										//- .product-kind Spinner 55/80
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite
										h3.product-name
											a(href="#") Pro-DLX 4
										//- .product-kind Laptop Backpack L 16" Asia
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/5.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite
										h3.product-name
											a(href="#") 72h
										//- .product-kind Spinner 55/68/78
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/6.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Red
										h3.product-name
											a(href="#") Eilyn
										//- .product-kind Backpack
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.new NEW
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/7.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Bon Air
										//- .product-kind Spinner 55/ 66
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/8.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Black Label
										h3.product-name
											a(href="#") Cubelite
										//- .product-kind Spinner 59/69/81
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/9.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Curio
										//- .product-kind Spinner 55/80
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/10.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite
										h3.product-name
											a(href="#") Pro-DLX 4
										//- .product-kind Laptop Backpack L 16" Asia
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/11.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite
										h3.product-name
											a(href="#") 72h
										//- .product-kind Spinner 55/68/78
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/12.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Red
										h3.product-name
											a(href="#") Eilyn
										//- .product-kind Backpack
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/13.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Lipault
										h3.product-name
											a(href="#") Lady Plume
										//- .product-kind Bowling Bag S
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/14.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Red
										h3.product-name
											a(href="#") Claken
										//- .product-kind Backpack M
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						//- article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/13.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Hatton
										//- .product-kind Laptop Portfolio
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/15.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite
										h3.product-name
											a(href="#") 72h
										//- .product-kind Spinner 55/68/78
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/16.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Red
										h3.product-name
											a(href="#") Eilyn
										//- .product-kind Backpack
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/17.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Lipault
										h3.product-name
											a(href="#") Lady Plume
										//- .product-kind Bowling Bag S
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/18.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Red
										h3.product-name
											a(href="#") Claken
										//- .product-kind Backpack M
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.new NEW
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Bon Air
										//- .product-kind Spinner 55/ 66
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									.promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") Samsonite Black Label
										h3.product-name
											a(href="#") Cubelite
										//- .product-kind Spinner 59/69/81
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						//- article.col-6.col-sm-4.col-md-3
							.product-col
								figure 
									//- .promotion.sale -30%
									//-.product-popup
										a.btn-viewdetail(href="#!") Chi tiết
										a.btn-buy(href="#!") Mua hàng
									a.product-img(href="#")
										img(src="img/product/17.png", alt="")
									figcaption
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-brand 
											a(href="#") American Tourister
										h3.product-name
											a(href="#") Hatton
										//- .product-kind Laptop Portfolio
										.product-price.clearfix
											.old 6.900.000đ
											.new 4.830.000đ
										a.btn-buy(href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
			.pages.wow.fadeInUp
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4