.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Thương hiệu
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Ourtips
				meta(itemprop='position', content='3')
	section.brand-page.clearfix
		h1.home-title.text-center.wow.fadeInUp Hội tụ những thương hiệu hàng đầu thế giới
		.home-des.text-center.wow.fadeInUp HOL mang đến cho bạn những sản phẩm nhập khẩu chính hãng với các chính sách ưu đãi tốt nhất. Để mỗi hành trình của bạn là một điều kỳ thú mới.
		.brand-list
			.row
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-4
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm