.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Thương hiệu
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Ourtips
				meta(itemprop='position', content='3')
	section.brand-page.clearfix
		h1.page-title.text-center DELSEY - THƯƠNG HIỆU CỦA NIỀM TIN VÀ HY VỌNG
		.brand-info
			.location Paris, năm 1946
		.content
			.row
				.col-12.col-md-6
					p Sau chiến tranh, một năm tuyệt vời, một năm của sự hồi sinh, sự khởi đầu mới cho cả Paris và toàn thế giới. Sự hy vọng về tương lai nở rộ hơn bao giờ hết, nền kinh tế đã sống lại, các doanh nghiệp đã đi vào hoạt động trở lại, bao gồm cả một công ty nhỏ sản xuất máy đánh chữ và túi đựng máy ảnh, một công ty được thành lập tại Paris vào thời điểm bấy giờ - Delahaye. Như bao công ty khác vào thời điểm đó, Delahaye cũng luôn hướng về phía trước, đặt các kế hoạch cho tương lai. Họ thấy được thế giới đã thay đổi nhiều và thay đổi như thế nào, họ thấy thế giới này lại tràn đầy sức sống, mọi người bắt đầu di chuyển trở lại, đi du lịch nhiều hơn, sự gắn kết ngày càng bền chặt hơn, và họ quyết định thay đổi cùng nó. Sự hợp nhất giữa công ty Delahaye và Seynhaeve brothers là sự khởi đầu cho một ngành công nghiệp sản xuất vali túi xách thành công rực rỡ.
					p Paris và cả thế giới đã thay đổi rất nhiều vào những năm 1946. Và Delsey, hoà mình cùng dòng lịch sử đó. 
				.col-12.col-md-3
					img(src="img/brand/pic1.jpg", alt="")
				.col-12.col-md-3
					img(src="img/brand/pic1.jpg", alt="")
			p
				br
			img(src="img/brand/pic2.jpg", alt="" width="100%")
			p
				br
			.row
				.col-12.col-md-6
					figure.video
						img(src="img/brand/video1.jpg", alt="")
						figcaption
							a.video-play(href="" data-fancybox="")
				.col-12.col-md-6
					p Từ thủ đô cội nguồn của nước Pháp, đến nay Delsey đã trở thành công ty lớn thứ 2 trên thế giới trong ngành sản xuất vali, túi xách. Với độ phủ trên 110 quốc gia. Nhưng trên hết, theo dòng thay đổi của lịch sử, Delsey vẫn luôn duy trì bản sắc của chính mình. Một thương hiệu được sinh ra từ hy vọng, sự lạc quan, và luôn giữ tinh thần đó cho đến nay. Một thương hiệu được sinh ra từ các kỹ năng thủ công tinh xảo, với niềm kiêu hãnh trong việc tạo ra những sản phẩm công nghệ và chất lượng. Vươn lên bằng sự sáng tạo, bằng sự nhạy bén trong công nghệ để luôn đáp ứng được với sự thay đổi của thế giới. Và đương nhiên, Delsey vẫn luôn hưng thịnh, phát triển qua suốt 70 năm, được công nhận trên toàn thế giới.
					p Hơn hết, Delsey khác biệt, luôn được nhận biết đến với các thiết kế cổ điển mà sắc nét hiện đại. Một hình tượng của lịch sử nhưng đạt tất cả các yêu cầu về phong cách và tính năng tiên tiến. Một hình tượng mang đậm chất DELSEY. 
			.btn-wrap
				a.btn-system(href="#!") <i class="fa fa-map-marker" aria-hidden="true"></i>Hệ thống cửa hàng
				a.btn-buyonline(href="#!") <i class="fa fa-shopping-bag" aria-hidden="true"></i>Mua hàng online
	section.other-brand.clearfi
		.small-title Thương hiệu khác
		.brand-list
			.row
				.col-12.col-md-6.col-lg-3
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-6.col-lg-3
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-6.col-lg-3
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm
				.col-12.col-md-6.col-lg-3
					a.brand-col(href="#!")
						figure
							.brand-img
								img(src="img/brand/banner.jpg", alt="")
							figcaption
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.link Xem thêm