.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin thị trường
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	.row.flex.flex-wrap.clearfix
		.col-12.col-lg-9.wow.fadeInLeft
			section.news-page.clearfix
				h1.page-title Điều Cần Biết Trước Khi Chọn Mua Vali
				.news-info
					time 31/08/2017
				.content
					img(src="img/news/img1.jpg", alt="")
					h5.orange CHẤT LIỆU
					p Chất liệu làm nên sự khác biệt lớn nhất giữa các loại vali, ảnh hưởng đến độ bền, vẻ thời trang và đương nhiên là cả giá thành. Chất liệu làm vali thường là vải polyester, vải pha sợi nilon tổng hợp và nhựa polycarbonate.
					p Vải polyester có giá rẻ nhất và cũng có độ bền thấp nhất trong 3 loại chất liệu. Chúng được bán khá nhiều ở những quầy bán bình dân ở các khu chợ. Đồng nghĩa với giá rẻ là tuổi thọ của những chiếc vali này cũng không cao, do đó cũng ít được lựa chọn.
					p Trái lại, vải pha nilon tỏ ra là chất liệu ưu việt hơn với trọng lượng nhẹ và dai bền nên đa số vali được làm bằng chất liệu này. Nó cũng được sử dụng trong một số loại quân trang quân dụng dành cho quân đội; do đó, bạn có thể khá yên tâm về tuổi thọ sử dụng. Đặc biệt, với chiếc vali làm bằng vải pha nilon thì bạn có thể thoải mái gói đồ, gia tăng diện tích với các chiêu "nhồi nhét" đồ đạc do chúng có tính đàn hồi nhẹ và chống thấm nước ở mức độ trung bình. Hơn nữa, bạn không phải quá lo lắng về cân nặng khi đi qua cửa check in vì bản thân chiếc vali này có trọng lượng không đáng kể.
					p Đắt tiền nhất là vali làm từ nhựa polycarbonate cứng. Đa số vali của các thương hiệu nổi tiếng đều sử dụng loại này. Ưu điểm lớn nhất của nó là không thấm nước, tránh được tối đa các va đập, đặc biệt đối với các hành lý dễ vỡ. Do vẻ ngoài trông đẹp mắt và sang trọng nên đây là sự lựa chọn số 1 của các sao. Tuy nhiên, cũng chính vì bản chất cứng mà chúng rất dễ bị xước xát trong quá trình vận chuyển trước và sau chuyến bay, đặc biệt là ở các sân bay nội địa. Ngoài ra, trọng lượng của chúng cũng nặng hơn 2 loại còn lại.
					p Trước băn khoăn nên chọn loại cứng hay mềm, bạn nên cân nhắc tới mức độ thường xuyên cũng như mục đích sử dụng. Nếu di chuyển ít như đi công tác, cần bảo vệ tối đa cho đồ đạc như quà lưu niệm dễ vỡ thì bạn có thể chọn vali cứng, còn đặt tiêu nhị gọn nhẹ, thoải mái lê la khắp nơi như đi du lịch bụi thì vali vải hữu dụng hơn cả.
					h5.orange BÁNH XE
					p Nếu chưa thực sự lâm nạn với chiếc vali gãy "chân", chắc bạn sẽ khó tưởng tượng: cả chiếc vali to đùng nhưng chiếc bánh xe bé xíu lại có tầm quan trọng tới vậy. Một chiếc bị hỏng hay gãy cũng sẽ khiến bạn lập tức phải đi mua cái vali mới bởi chỉ cần kéo lê không bánh xe vài trăm mét thì dù là làm từ nhựa cứng nó cũng không chịu nổi. Thông thường, các nhà sản xuất sẽ đưa ra 2 sự lựa chọn: đó là loại 2 bánh và loại 4 bánh.
					.row
						.col-12.col-md-6
							.text-center
								img(src="img/news/img2.jpg", alt="")
								h5 
									strong Loại 4 bánh
							p Nếu chưa thực sự lâm nạn với chiếc vali gãy "chân", chắc bạn sẽ khó tưởng tượng: cả chiếc vali to đùng nhưng chiếc bánh xe bé xíu lại có tầm quan trọng tới vậy. Một chiếc bị hỏng hay gãy cũng sẽ khiến bạn lập tức phải đi mua cái vali mới bởi chỉ cần kéo lê không bánh xe vài trăm mét thì dù là làm từ nhựa cứng nó cũng không chịu nổi. Thông thường, các nhà sản xuất sẽ đưa ra 2 sự lựa chọn: đó là loại 2 bánh và loại 4 bánh.
						.col-12.col-md-6
							.text-center
								img(src="img/news/img2.jpg", alt="")
								h5 
									strong Loại 4 bánh
							p Nếu chưa thực sự lâm nạn với chiếc vali gãy "chân", chắc bạn sẽ khó tưởng tượng: cả chiếc vali to đùng nhưng chiếc bánh xe bé xíu lại có tầm quan trọng tới vậy. Một chiếc bị hỏng hay gãy cũng sẽ khiến bạn lập tức phải đi mua cái vali mới bởi chỉ cần kéo lê không bánh xe vài trăm mét thì dù là làm từ nhựa cứng nó cũng không chịu nổi. Thông thường, các nhà sản xuất sẽ đưa ra 2 sự lựa chọn: đó là loại 2 bánh và loại 4 bánh.
					h5.orange TAY KÉO
					p Sau bánh xe, bạn nên quan tâm đến tay kéo, đặc biệt là với loại vali 2 bánh vì với loại 4 bánh, đôi khi bạn có thể đẩy mà không cần đến tay cầm.
					p Tay kéo sẽ giúp bạn di chuyển với tư thế thẳng lưng và định hướng cho chiếc vali trên đường. Bạn có thể kiểm tra chất lượng bằng cách kéo ra rút vào nhiều lần xem nó có trơn tru hay không, nếu quá mắc hay quá lỏng cũng đều không phù hợp.
					p Chất liệu tay kéo nên là thép không rỉ hoặc hợp kim nhôm. Nếu không, bạn cần kiểm tra các mối nối và lớn mạ bên ngoài có tin cậy hay không. Khi không sử dụng, nên đóng tay kéo để tiết kiệm diện tích, tránh va đập gây ra cong, gãy khi vận chuyển.
					h5.orange KÍCH THƯỚC
					p Có khá nhiều kích cỡ vali được thiết kế để phục vụ các mục đích khác nhau. Bạn có thể cân nhắc các chuyến đi của mình thiên về công tác hay du lịch, trong thời gian bao lâu và nhu cầu của bản thân trước khi quyết định rút hầu bao.
					p Một yếu tố khác quan trọng không kém mà ít được người mua quan tâm, đó là vóc dáng của người sử dụng. Theo các nghiên cứu khoa học, chiều cao của vali từ giữa đùi đến ngang hông là thích hợp nhất để việc di chuyển được dễ dàng nhất.
					h5.orange MÀU SẮC
					p Ngoài ra, bạn cũng nên lưu ý một chút khi lựa chọn màu sắc cho chiếc vali - bạn đồng hành của mình. Các màu sáng và nổi bật như đỏ, xanh cobalt, vàng hay hồng thì giúp bạn dễ dàng nhận ra vali của mình trên băng chuyền hành lý từ xa. Trong khi đó, vali tối màu như đen, ghi, nâu lại dường như sạch sẽ và bền hơn.
					p Một mẹo nhỏ rất hay được nhiều người truyền tai nhau: nếu chọn những màu tối, để chiếc vali không bị "chìm nghỉm" giữa vô vàn chiếc giống hệt nhau, bạn có thể dùng một vài "dấu hiệu" đặc biệt như dải ruy băng sặc rỡ, chiếc tag bắt mắt và có thích thước to... Vì trên thực tế, bảng tên dán bằng băng dính rất dễ bong khi vận chuyển.
					img(src="img/news/img1.jpg", alt="")
					h5.orange AN TOÀN
					p An toàn cho hành lý trong vali khi đi du lịch luôn là mối quan tâm hàng đầu của khách hàng khi chọn mua vali.
					p Đối với các dòng vali vải thường được đóng bằng dây kéo kết hợp với khóa rời hoặc khóa số kết hợp TSA để tăng độ an toàn cho hành lý. Cùng với sự phát triễn sản phẩm mới, Delsey còn mang đến cho khách hàng công nghệ Zip Securi Tech, loại dây kéo đôi có độ bền gấp 41 lần dây kéo thông thường.
					p Đối với các dòng vali nhựa cứng và tùy từng thiết kế sản phẩm mà nhà sản xuất sử dụng dây kéo kết hợp khóa rời, khóa TSA hoặc chỉ sử dụng khóa cố định ở các cạnh của vali.
				.share
					img(src="img/share.jpg", alt="")
				.other-news
					.small-title TIN TỨC KHÁC
					.good-news.clearfix
						.row
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Hướng dẫn bạn cách sửa khóa kéo balo du lịch khi bị hỏng bằng nến
											time 31/08/2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Hướng dẫn bạn cách sửa khóa kéo balo du lịch khi bị hỏng bằng nến
											time 31/08/2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Hướng dẫn bạn cách sửa khóa kéo balo du lịch khi bị hỏng bằng nến
											time 31/08/2017
		.col-12.col-lg-3.wow.fadeInRight
			nav.sidebar-category.clearfix
				ul 
					li
						a(href="#!") Tin thị trường
					li 
						a(href="#!") Tin khuyến mãi
					li 
						a(href="#!") Sự kiện
					li 
						a(href="#!") Kinh nghiệm du lịch
			nav.sidebar-banner
				a(href="#")
					img(src="img/ads/ads1.jpg", alt="")
				a(href="#")
					img(src="img/ads/ads2.jpg", alt="")
			section.sidebar-video.clearfix
				.video
					figure
						.video-img
							img(src="img/news/t2.jpg", alt="")
							a.video-play(href="#" data-fancybox="video")
						figcaption
							h3.video-name
								a(href="#!") Lipault Paris - Advertising Campaign Video - Duck Blue