.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin thị trường
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	.row.flex.flex-wrap.clearfix
		.col-12.col-lg-9.wow.fadeInLeft
			section.news-page.clearfix
				.news-group.clearfix
					h1.page-title Tin nổi bật
					.hot-news.clearfix
						.row
							.col-12.col-lg-6
								.news-col.big
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h2.news-name
												a(href="#!") Những lưu ý quan trọng khi chọn vali du lịch
											time 01/09/2017
											.news-des Vali rất quan trọng đối với những người thường xuyên di chuyển khi chúng luôn kè kè bên cạnh để lưu trữ những đồ vật quan trọng nhất. 
							.col-12.col-lg-6
								.news-col.small
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h2.news-name
												a(href="#!") Những lưu ý quan trọng khi chọn vali du lịch
											time 01/09/2017
								.news-col.small
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h2.news-name
												a(href="#!") Những lưu ý quan trọng khi chọn vali du lịch
											time 01/09/2017
								.news-col.small
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h2.news-name
												a(href="#!") Những lưu ý quan trọng khi chọn vali du lịch
											time 01/09/2017
				.news-group.clearfix
					.news-banner
						img(src="img/news/banner.jpg", alt="")

				.news-group.clearfix
					h2.page-title Tin khuyến mãi
					.news-list.clearfix
						.row.flex.flex-wrap
							.col-12.col-md-6
								article.news-col.big
									figure
										a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
							
							.col-12.col-md-6
								article.news-col.big
									figure
										a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
					.btn-wrap
						a.btn-loadmore(href="#") Xem thêm
				.news-group.clearfix
					h2.page-title kinh nghiệm mua sắm
					.news-list.clearfix
						.row.flex.flex-wrap
							.col-12.col-md-6
								article.news-col.big
									figure
										a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
							
							.col-12.col-md-6
								article.news-col.big
									figure
										a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
					.btn-wrap
						a.btn-loadmore(href="#") Xem thêm
				.news-group.clearfix
					h2.page-title Kinh nghiệm du lịch
					.news-list.clearfix
						.row.flex.flex-wrap
							.col-12.col-md-6
								article.news-col.big
									figure
										a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
							
							.col-12.col-md-6
								article.news-col.big
									figure
										a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
								article.news-col
									figure
										//- a.news-img(href="#")
											img(src="img/news/t5.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") 500 triệu món hàng hiệu giảm giá 50% tại ‘VStyle’s private sale’
											time 19/05/2017
					.btn-wrap
						a.btn-loadmore(href="#") Xem thêm
				.news-group.clearfix
					h2.page-title Tin hay
					.good-news.clearfix
						.row
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Hướng dẫn bạn cách sửa khóa kéo balo du lịch khi bị hỏng bằng nến
											time 31/08/2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Hướng dẫn bạn cách sửa khóa kéo balo du lịch khi bị hỏng bằng nến
											time 31/08/2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/t1.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Hướng dẫn bạn cách sửa khóa kéo balo du lịch khi bị hỏng bằng nến
											time 31/08/2017
					.btn-wrap
						a.btn-loadmore(href="#") Xem thêm

			//- .pages
				ul.pagination
					li 
						a(href="#") 1
					li.active
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4
		.col-12.col-lg-3.wow.fadeInRight
			nav.sidebar-category.clearfix
				ul 
					li
						a(href="#!") Tin thị trường
					li 
						a(href="#!") Tin khuyến mãi
					li 
						a(href="#!") Sự kiện
					li 
						a(href="#!") Kinh nghiệm du lịch
			nav.sidebar-banner
				a(href="#")
					img(src="img/ads/ads1.jpg", alt="")
				a(href="#")
					img(src="img/ads/ads2.jpg", alt="")
			section.sidebar-video.clearfix
				.video
					figure
						.video-img
							img(src="img/news/t2.jpg", alt="")
							a.video-play(href="#" data-fancybox="video")
						figcaption
							h3.video-name
								a(href="#!") Lipault Paris - Advertising Campaign Video - Duck Blue