.container
	section.home-feature.clearfix.wow.zoomIn
		.row.flex.flex-wrap
			.col-12.col-md-6.col-lg-3
				.feature-col
					figure
						.icon
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						figcaption
							.title Đặt hàng nhanh
							.des 
								a(href="tel:84-839143036") (84-8) 3914 3036 
								| - 
								a(href="tel:1800 6063") 1800 6063
			.col-12.col-md-6.col-lg-3
				.feature-col
					figure
						.icon
							<i class="fa fa-truck" aria-hidden="true"></i>
						figcaption
							.title Giao hàng toàn quốc
							.des Miễn phí
			.col-12.col-md-6.col-lg-3
				.feature-col
					figure
						.icon
							<i class="fa fa-money" aria-hidden="true"></i>
						figcaption
							.title Thanh toán
							.des Khi nhận hàng
			.col-12.col-md-6.col-lg-3
				.feature-col
					figure
						.icon
							i.fa.fa-shirtsinbulk
						figcaption
							.title Bảo hành
							.des Lên đến 10 năm
footer.wow.slideInUp
	.container.clearfix
		section.footertop.clearfix
			.row.flex.flex-wrap
				.col-12.col-sm-6.col-lg-6.col-xl-3
					section.footercol.clearfix
						.sitelogo
							a(href="#")
								img(src="img/logo.png", alt="")
						.about Global Bags & Luggage tự hào là công ty lâu năm rất quen thuộc với người tiêu dùng trên thị trường Viêt Nam chuyên phân phối những ngành hàng vali, túi xách, balô, phụ kiện du lịch chính hãng như các thương hiệu Delsey, ACE, Carlton, Kamiliant, American Tourister, United Colors of Benetton...
				.col-12.col-sm-6.col-lg-3.col-xl-2
					section.footercol.clearfix
						.title Sản phẩm
						nav.footerlink
							ul 
								li
									a(href="#") Vali
								li
									a(href="#") Balo
								li
									a(href="#") Túi xách
								li
									a(href="#") Phụ kiện
				.col-12.col-sm-6.col-lg-3.col-xl-2
					section.footercol.clearfix
						.title Thương hiệu
						nav.footerlink
							ul 
								li
									a(href="#") Delsey
								li
									a(href="#") ACE
								li
									a(href="#") Carlton
								li
									a(href="#") Kamiliant
								li
									a(href="#") American Tourister
								li
									a(href="#") Samsonite
								li
									a(href="#") Traveler's Choice
								li
									a(href="#") Lipault Paris
								li
									a(href="#") High Sierra
				.col-12.col-sm-6.col-lg-5.col-xl-2
					section.footercol.clearfix
						.title Hỗ trợ khách hàng
						nav.footerlink
							ul 
								li
									a(href="#") Hướng dẫn mua hàng
								li 
									a(href="#") Chính sách vận chuyển
								li 
									a(href="#") Chính sách bảo hành
								li 
									a(href="#") Trung tâm bảo hành
								li
									a(href="#") Chính sách thành viên
								li 
									a(href="#") Hình thức thanh toán
								li 
									a(href="#") Đổi trả sản phẩm
								li 
									a(href="#") Chính sách bảo mật
				.col-12.col-lg-7.col-xl-3
					section.footercol.clearfix
						.title Đăng ký nhận bản tin
						.subscribe
							.module-title Đăng ký ngay để nhận thông tin mới nhất về chương trình khuyến mãi từ House of Luggage
							.subscribefrm
								input(type="text" placeholder="Nhập email...")
								button.subscribebutton Đăng ký
					section.footercol.clearfix
						.title Chứng nhận
						.cert-list
							a(href="#")
								img(src="img/bct.png", alt="")
							a(href="#")
								img(src="img/nor.png", alt="")
		section.footerbottom.clearfix
			.social
				a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-youtube" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
			nav.footer-nav
				ul 
					li
						a(href="#") TRANG CHỦ
					li
						a(href="#") Giới thiệu
					li
						a(href="#") KHUYẾN MÃI VÀNG
					li
						a(href="#") HỆ THỐNG CỬA HÀNG
					li
						a(href="#") SỰ KIỆN
					li
						a(href="#") TUYỂN DỤNG
					li
						a(href="#") LIÊN HỆ
			.copyright Copyright 2017 Global Bags & Luggage, Ltd. All rights reserved. Designed by Cánh Cam.
.up <i class="fa fa-chevron-up" aria-hidden="true"></i>