header
	section.headertop.clearfix
		.container
			.btn-showmenu.d-xl-none <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay.d-xl-none
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.colright.clearfix
				.cart.clearfix
					.cart-toggle <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						.amount 2
						span Giỏ hàng
				.location
					a(href="#") <i class="fa fa-map-marker" aria-hidden="true"></i>
						span Hệ thống
				.wishlist
					a(href="#") <i class="fa fa-heart" aria-hidden="true"></i>
						span Wish list
				.login
					ul
						li
							a(href="#") <i class="fa fa-user" aria-hidden="true"></i>
								span Đăng ký
						li 
							a(href="#") <i class="fa fa-unlock-alt" aria-hidden="true"></i>
								span Đăng nhập
				.register
					a(href="javascript:;" data-fancybox="contact" data-src="#popup-contact") <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						span Đăng ký làm đại lý
					#popup-contact.popup-contact
						.popup-wrap
							.row
								.col-12.col-md-6
									.img
										img(src="img/popup.jpg", alt="")
								.col-12.col-md-6
									.popup-form
										.module-title LIÊN HỆ HỢP TÁC
										.form-group
											input(type="text" placeholder="Họ tên *")
										.form-group
											input(type="text" placeholder="Số điện thoại *")
										.form-group
											input(type="text" placeholder="Email *")
										.form-group
											select
												option(value="") Chọn tỉnh / thành phố
										.form-group.captcha
											input(type="text" placeholder="Nhập mã hiển thị")
										input(type="submit", value="Gửi")
	section.headermenu.clearfix
		.container
			.mainmenu.clearfix
				nav.menu.clearfix
					.menulogo.d-xl-none
						.sitelogo
							a(href="#")
								img(src="img/logo.png", alt="")
					.menucontent
						.menuwrap
							ul.menulink.clearfix
								li.hasmega
									a(href="#") thương hiệu
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/2.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/5.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/3.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/1.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/9.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/8.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/4.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/9.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/7.png", alt="")
											ul 
												li 
													a(href="#") Tất cả sản phẩm
												li 
													a(href="#") Vali
												li 
													a(href="#") Ba lô
												li 
													a(href="#") Túi xách
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Phụ kiện
								li.hasmega
									a(href="#") vali
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") Vali cứng
												li 
													a(href="#") Vali mềm
												li 
													a(href="#") Vali doanh nhân
												li 
													a(href="#") Văn phòng di động
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Vali hai bánh
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/1.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/2.png", alt="")
								li.hasmega.active
									a(href="#") balo
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") BA LÔ DOANH NHÂN
												li 
													a(href="#") TẤT CẢ
												li 
													a(href="#") TRẺ EM
												li 
													a(href="#") DU LỊCH
												li 
													a(href="#") BA LÔ CHÉO
												li 
													a(href="#") BA LÔ KÉO
												li 
													a(href="#") BA LÔ LAPTOP
												li 
													a(href="#") KIDS
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/9.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/14.png", alt="")
								li.hasmega
									a(href="#") túi xách
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") TÚI XÁCH THỜI TRANG
												li 
													a(href="#") TÚI XÁCH NAM
												li 
													a(href="#") TÚI XÁCH NỮ
												li 
													a(href="#") TÚI IPAD-IPHONE
												li 
													a(href="#") TÚI DU LỊCH THỂ THAO
												li 
													a(href="#") TÚI DOANH NHÂN
												li 
													a(href="#") TÚI ĐỰNG LAPTOP
												li 
													a(href="#") TÚI UNISEX
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/13.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/15.png", alt="")
								li.hasmega
									a(href="#") phụ kiện
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") VÍ
												li 
													a(href="#") GỐI
												li 
													a(href="#") DÂY ĐAI
												li 
													a(href="#") BAO TRÙM VALI
												li 
													a(href="#") ADAPTER
												li 
													a(href="#") TÚI LAPTOP
												li 
													a(href="#") TÚI MỸ PHẨM
												li 
													a(href="#") TÚI CÁ NHÂN
										.megasub
											ul 
												li 
													a(href="#") DÙ
												li 
													a(href="#") KHÓA
												li 
													a(href="#") TÚI PASSPORT
												li 
													a(href="#") TÚI ĐA NĂNG
												li 
													a(href="#") CÂN
												li 
													a(href="#") TÚI ĐEO HÔNG
												li 
													a(href="#") BỊT MẮT
												li 
													a(href="#") THẺ BẢNG TÊN
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/13.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/15.png", alt="")
								li.sale
									a(href="#") khuyến mãi vàng
								li 
									a(href="#") Tin tức
								li.event
									a(href="#") sự kiện 
				.colright.clearfix
					.hotline
						a(href="tel:1800 6063") 1800 6063
					.search
						.searchtoggle <i class="fa fa-search" aria-hidden="true"></i>
						.searchwrap
							.searchbox
								input(type="text" placeholder="Tìm kiếm...")
								button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
					.language
						a(href="#")
							img(src="img/en.png", alt="")